HOST=127.0.0.1
PORT=9621
WORKERS=1
WORKING_DIR=./workspaces/lightrag/rag_storage
INPUT_DIR=./workspaces/lightrag/inputs

LLM_BINDING=ollama
LLM_MODEL=qwen3.6:27b
LLM_BINDING_HOST=http://localhost:11434

EMBEDDING_BINDING=ollama
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_BINDING_HOST=http://localhost:11434
EMBEDDING_DIM=768

LIGHTRAG_API_KEY=
ENABLE_LLM_CACHE_FOR_EXTRACT=true
